<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<link rel="icon" type="image/png" href="/favicon.png">
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	<link href="http://fonts.googleapis.com/css?family=Roboto:400,700,900|Roboto+Condensed:400,700|Roboto+Slab:400,300,700" rel="stylesheet" type="text/css">

	<!-- Use title if it's in the page YAML frontmatter -->
	<title><%= current_page.data.title || "Decisively - Simplify Analytics &amp; Decision Making" %></title>

	<%= stylesheet_link_tag :site %>
	<%= javascript_include_tag :all %>

</head>

<body class="<%= page_classes %>">
	<%= partial "layouts/header" %>
	<%= yield %>
</body>
</html>
