<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<link rel="icon" type="image/png" href="images/favicon.png">
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

	<!-- Use title if it's in the page YAML frontmatter -->
	<title><%= current_page.data.title || "Decisively - Simplify Analytics &amp; Decision Making" %></title>

	<%= stylesheet_link_tag 'bootstrap.min.css' %>
	<%= stylesheet_link_tag 'master.css' %>
	<%= javascript_include_tag 'jquery.min.js' %>
	<%= javascript_include_tag 'bootstrap.min.js' %>

	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=AM_CHTML"></script>

	<script src="https://use.typekit.net/cwc1qce.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>

<body class="<%= page_classes %>">
	<%= partial "layouts/header" %>
	<%= yield %>
	<%= partial "layouts/footer" %>
</body>
</html>
